/* .serviceItem-card-all {
  width: 300px;
  height: 300px;
  background: #fff;
  position: relative;
  padding: 1.8rem;
  transition: 0.5s ease-out;
  overflow: visible;
  border:  2px solid red;
  margin-top: 40px;
} */

/* .img-service-all {
  max-width: 250px;
  max-height: 350px;
} */
.about-btn {
  transform: translate(-50%, 125%);
  width: 60%;
  border: none;
  background-color: rgb(0, 1, 3);
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}
/* .serviceItem-card-details-all {
  color: black;
  -webkit-text-stroke: 1.2px rgb(252, 249, 249);
  height: 300px;
  width: 300px;
  gap: 0.5em;
  display: grid;
  place-content: center;
} */
.serviceItem-card-all:hover .about-btn {
  transform: translate(-50%, 50%);
  opacity: 1;
}
/* .img-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}
.tex{
  width: 100%;
  position: absolute;
  top: 200px;
  left: 0;
}
.img-service-all {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
